:root {
    --bg-color: #FFEBD8; 
    --dark-gray: #50514F;
    --baby-pink: #FFC5C5;
    --light-green: #C7DCA7; 
    --teal: #89B9AD;
    --navy-blue: #465775; 
    --dark-green: #7C8B64; 
}

@font-face {
    font-family: 'Arvo';
    src: url('assets/Arvo-Regular.ttf');
}

.nav-bar {
    top: 0;
    left: 0;
}

.navbar-container {
    font-family: 'Arvo';
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1.5rem;
}
  
.navbar-logo a {
    color: var(--dark-gray);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 3rem;
}

.navbar-links a path{
    stroke: var(--navy-blue);
    padding: 10px;
}
  
.navbar-links a:hover svg path{
    stroke: var(--dark-green);
} 

.navbar-links a:hover {
    cursor: pointer;
}

.popup-container {
    position: absolute; 
    background-color: white;
    color: var(--dark-gray);
    align-self: center;
    width: 100%;
    font-family: 'Arvo';
}

.log-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.milestory-profile-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.log-submit button {
    color: white;
    width: 100px;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--navy-blue);
    padding: 10px;
    cursor: pointer;
}

.log-submit button:hover {
    background-color: var(--dark-green);
}

.close-button {
    background: none;
    border: none;
    font-size: 40px;
    font-weight: bold;
    color: var(--navy-blue);
    padding-bottom: 1rem;
    transition: color 0.1s;
    padding-left: 1rem;
}

.close-button:hover {
    color: var(--dark-green);
}

.welcome {
    color: var(--dark-gray);
    font-family: 'Arvo';
    font-size: 2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.tag {
    font-family: 'Arvo';
    font-size: 1rem;
    color: var(--dark-gray);
    letter-spacing: .1rem;
}

.banner {
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 100%;
    height: 50vh; 
    background-color: var(--bg-color);
}
  
.banner-bg {
    flex: 1;
}

.top-border {
    border-top: 40px solid var(--light-green);
}

.custom-shape-divider-top-1723951671 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1723951671 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 18vh;
}

.custom-shape-divider-top-1723951671 .shape-fill {
    fill: var(--light-green);
}

.banner-info {
    height: 50vh;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.months-section {
    position: relative;
    background-color: var(--teal);
    padding-top: 100px;
}

.months-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.month-box {
    cursor: pointer;
    font-family: 'Arvo';
    color: var(--navy-blue);
    background-color: white;
    width: 350px;
    margin: 10px;
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 10px;
}

.month-box:hover {
    background-color: var(--teal);
    border: solid 1px white;
}

.milestone-page-container {
    position: relative;
    background-color: var(--dark-green);
    border-radius: 30px;
    height: 100%;
    width: 90%;
    padding: 20px; 
}

.milestone-page {
    background-color: var(--bg-color);
    padding: 30px;
}

.milestone-page-divider {
    width: 20%; 
    height: 6px; 
    background-color: var(--light-green); 
    margin: 30px auto; 
}

.milestone-page h1 {
    font-family: 'Arvo';
    letter-spacing: 3px;
    color: white;
    font-size: 32px;
    margin-top: 30px;
}

.milestone-page p {
    font-family: 'Arvo';
    color: white;
    width: 60%;
}

.add-milestone-button a p, .log-milestone-button a p{
    margin: auto;
    color: white;
    width: 200px;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--navy-blue);
    padding: 10px;
    cursor: pointer;
}

.add-milestone-button a p:hover, .log-milestone-button a p:hover {
    background-color: var(--light-green);
}

.arrow-left {
    stroke: white;
    position: absolute;
    top: 30px;
    left: 40px;
    transition: stroke 0.3s ease;
}

.arrow-left:hover {
    stroke: var(--light-green);
}

.milestones .container .row-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.milestone-card {
    background-color: white;
    border-radius: 10%;
    height: clamp(280px, 20vw, 330px);
    width: clamp(280px, 20vw, 330px);
    padding: 20px; 
    box-sizing: border-box;
    aspect-ratio: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.milestone-card h1 {
    border: solid 1px var(--navy-blue);
    padding: 10px; 
    color: var(--navy-blue);
    font-family: 'Arvo';
    font-size: 16px;
    margin-bottom: 20px;
}

.milestone-card p {
    color: var(--navy-blue);
    font-family: 'Arvo';
    width: 100%;
}

.footer, .footer p {
    background-color: var(--bg-color);
}
  

@media (max-width: 767px) {
    .learn-more-container {
        width: 100%;
    }

    .learn-more h1 {
        font-size: 24px;
        margin-top: 50px;
    }

    .learn-more p {
      width: 100%;
    }

    .custom-shape-divider-top-1723951671 svg {
        position: relative;
        display: block;
        width: calc(121% + 1.3px);
        height: 60px;
    }
}